.mce-codeblock-dialog-container .mce-codeblock-header {
  border-bottom: 1px solid #E0E5EE;
  height: 63px;
  line-height: 63px;
  padding: 0
}

.mce-codeblock-dialog-container .mce-codeblock-header .mce-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: -1px;
  margin-left: 40px
}

.mce-codeblock-dialog-container .mce-codeblock-header .mce-close {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 0;
  height: 38px;
  width: 38px;
  text-align: center;
  cursor: pointer;
}

.mce-codeblock-dialog-container .mce-codeblock-header .mce-close .mce-ico {
  color: #fff
}

.mce-codeblock-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 65000;
  background: transparent
}

.mce-codeblock-dialog-container .mce-codeblock-shadow {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75)
}

.mce-codeblock-dialog-container .mce-codeblock-dialog {
  position: absolute;
  width: 800px;
  top: 50px;
  bottom: 50px;
  left: 50%;
  margin-left: -400px;
  background: #fff;
  border-radius: 1px;
  border: 1px solid #465467;
  box-shadow:0 4px 8px rgba(0,0,0,0.3)
}

.mce-codeblock-dialog-container .mce-codeblock-content {
  position: absolute;
  top: 64px;
  bottom: 57px;
  left: 0;
  right: 0;
}

.mce-codeblock-dialog-container .mce-codeblock-content .textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 0;
  padding: 0
}

.mce-codeblock-dialog-container .mce-codeblock-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  line-height: 56px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #E0E5EE;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mce-codeblock-dialog-container .mce-codeblock-footer .mce-codeblock-btn {
  float: left;
  width: 76px;
  height: 30px;
  line-height: 30px;
  border-radius: 1px;
  border: 1px solid #C5CDD7;
  background: #fff;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-sizing: content-box;
  font-size: 13px
}

.mce-codeblock-dialog-container .mce-codeblock-footer .mce-codeblock-btn-cancel:hover {
  border-color: #A5ADBA;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12)
}

.mce-codeblock-dialog-container .mce-codeblock-footer .mce-codeblock-btn-cancel:active {
  border-color: #C5CDD7;
  box-shadow: none
}

.mce-codeblock-dialog-container .mce-codeblock-footer .mce-codeblock-btn-submit {
  margin-left: 4px;
  margin-right: 30px;
  border: 1px solid #D34D1D;
  color: #fff;
  background: #EC5621;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.mce-codeblock-dialog-container .mce-codeblock-footer .mce-codeblock-btn-submit:hover {
  border-color: #bd4c24;
  background: #ED5F2D;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23)
}

.mce-codeblock-dialog-container .mce-codeblock-footer .mce-codeblock-btn-submit:active {
  border-color: #C23508;
  background: #D93C09;
  box-shadow: none
}

.mce-codeblock-dialog-container .mce-codeblock-footer .mce-codeblock-btn-submit:disabled {
  background: #fff;
  border-color: #E0E5EE;
  color: #959595;
  box-shadow: none;
  cursor: not-allowed
}

.mce-codeblock-dialog-container .CodeMirror {
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  letter-spacing: 0
}
